.relation-field
	border: 1px solid $grey-lightest
	border-radius: $radius-small
	background-color: $white-bis
	
	.field
		width: calc(2px + 100%)
		margin-left: -1px
		margin-right: -1px
		margin-bottom: -1px

.related-item
	padding: 0.5rem 1rem
	border-bottom: 1px solid $grey-lightest
	cursor: move
	user-select: none
	position: relative

	&:last-child
		border-bottom: 0

	&.sortable-chosen
		background-color: $grey-lightest
		opacity: 0.7

	&.is-disabled
		cursor: default

	.delete
		position: absolute
		top: 0.75rem
		right: 0.75rem

.relation-search
	display: block
	width: 100%

.field-group
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	width: calc(100% + 0.75rem)
	margin-right: -0.75rem

	& > div
		padding-right: 0.75rem
		flex-basis: 20%
		flex-shrink: 0
		flex-grow: 1
		
		&:last-child
			margin-bottom: 1.5rem

.picker
	position: absolute
	top: 0
	left: 0
	z-index: 10

.color-picker
	border-radius: $radius-small !important
	box-shadow: $shadow-lg !important

	.vc-chrome-saturation-wrap
		border-radius: $radius-small $radius-small 0 0

.color-swatch
	opacity: 1 !important

.date-picker
	*
		font-family: $family-sans-serif
	.vc-highlight
		background-color: $blue !important
	.vc-date-time
		.vc-month, .vc-day
			color: $blue !important